<article>
    <a class="article-title" href="{{article.url}}">{{article.title|truncatechars:120}}</a>
    <div class="article-bottom">
        <div class="article-image" title="{{article.score}}">
            <a href="{{article.url}}"><img src="{% if article.thumbnail_url %}{{article.thumbnail_url}}{% else %}/static/Scanvine_S.png{% endif %}" height="55" width="auto"/></a>
        </div>
        <span class="article-info">
            <a href="/main/author/{{article.author_id}}">{{article.author|truncatechars:80}}</a>
            {% if not article.shares %}
                <em><a href="/main/publication/{{article.publication_id}}">{{article.publication|truncatechars:40}}</a></em>
                <a href="/main/article/{{article.id}}">{{article.display_date|timesince}} ago
                {% ifequal request.GET.v "t" %}| {{article.score}}, {{article.share_count}}{% endifequal %}</a>
            {% else %}
                <span><em><a href="/main/publication/{{article.publication_id}}">{{article.publication|truncatechars:40}}</a></em>
                <a href="/main/article/{{article.id}}">{{article.display_date}}</a></span>
                {% for share in article.shares %}
                    <a href="https://twitter.com/{{share.sharer.twitter_screen_name}}/status/{{share.twitter_id}}">@{{share.sharer.twitter_screen_name}}</a>
                {% endfor %}
            {% endif %}
            {% ifequal request.GET.svd "t" %}
                <a href="/admin/main/article/{{article.id}}/change/">article</a> score {{article.score}} raw {{article.raw}} buzz {{article.buzz}} odd {{article.odd}} total {{article.total_credibility}} shares {{ article.shares }}
                <a href="/admin/main/publication/{{publicationpublication.id}}/change/">publication</a> total {{article.publication.total_credibility}} average {{article.publication.average_credibility}}
                <br/>article scores {{article.scores}}
                <br/>publication {{article.publication.scores}}
            {% endifequal %}
        </span>
        {% if scored %}
            <div class="stats rightmost">
                <div class="statbox">
                    <span class="statlabel">Score</span> <span class="statval">{{scored.credibility}}</span>
                </div>
                <div class="statbox">
                    <span class="statlabel">Shares</span>
                    <span class="statval">{{scored.scores.health_shares}}, {{scored.scores.science_shares}}, {{scored.scores.tech_shares}}, {{scored.scores.business_shares}}, {{scored.scores.media_shares}}</span>
                </div>
            </div>
        {% endif %}
    </div>
</article>
