{% extends "main/base.html" %}
{% block title %}{{article.title}} | {{publication.name}} | Scanvine{% endblock %}
{% block startjs %}
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
{% endblock %}
{% block main %}
<section>
    
    <div class="article-list">
        <article>
            <a class="article-title" href="{{article.url}}">{{article.title|truncatechars:94}}</a>
            <div class="article-bottom">
                {% if article.thumbnail_url %}
                    <div class="article-image" title="{{article.score}}">
                        <a href="{{article.url}}"><img src="{{article.thumbnail_url}}" height="60" width="auto"/></a>
                    </div>
                {% endif %}
                <span class="article-info">
                    <a href="/main/author/{{article.author_id}}">{{article.author|truncatechars:80}}</a>
                    <em><a href="/main/publication/{{article.publication_id}}">{{article.publication|truncatechars:40}}</a></em>
                    <a href="/main/article/{{article.id}}">{{article.display_date|timesince}} ago</a>
                    {% ifequal request.GET.svd "true" %}
                        <a href="/admin/main/article/{{article.id}}/change/">article</a> total {{article.total_credibility}} | score {{article.score}} | buzz {{article.buzz}} | odd {{article.odd}} | {{article.scores}}
                        <a href="/admin/main/publication/{{publicationpublication.id}}/change/">publication</a> total {{article.publication.total_credibility}} | average {{article.publication.average_credibility}} | {{article.publication.scores}}
                    {% endifequal %}
                </span>
            </div>
        </article>
        <p><i>URL</i>: <a href="{{article.url}}">{{article.url}}</a></p>
        <p><i>Score</i>:  {{ article.credibility }}
        <p><i>Published</i>:  {{ article.published_at }}
        <p><i>Fetched</i>:  {{ article.created_at }}
        <p><i>Author total score</i>:  {{ article.author.total_cred }}
        <p><i>Author average score</i>:  {{ article.author.average_cred }}
        <p><i>Publication total score</i>:  {{ article.publication.total_cred }}
        <p><i>Publication average score</i>:  {{ article.publication.average_cred }}
    </div>


    <h3>Shared by</h3>
    <div id="article-sharers">
        {% for share in shares %}
        <a title="{{share.category}}" href="https://twitter.com/{{share.sharer.twitter_screen_name}}">{{share.sharer.name}}</a>{% if not forloop.last%}, {% endif %}
        {% endfor %}
    </div>
    
    <hr/>
    <h3>Tweets</h3>
    {% for share in shares %}
        <div id="tweet-container-{{share.twitter_id}}"/>
    {% endfor %}
</section>
{% endblock %}

{% block endjs %}
<script>
setTimeout(function(){
{% for share in shares %}
twttr.widgets.createTweet(
  '{{share.twitter_id}}',
  document.getElementById('tweet-container-{{share.twitter_id}}'),
);
{% endfor %}
}, 1000);
</script>
{% endblock %}