{% extends "main/base.html" %}
{% block title %}{{article.title}} | {{publication.name}} | Scanvine{% endblock %}
{% block startjs %}
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<style>
#article-sharers {
    width:90%;
    align-items:baseline;
}
</style>
{% endblock %}
{% block main %}
<section>
    
    <div class="article-list">
        {% include "main/article-entry.html" with article=article %}
    </div>

    <b>Stats</b>
    <div class="stats">
        <div class="statbox-container">
            <div class="statbox">
                <span class="statlabel">Fetched</span> <span class="statval">{{article.created_at}}</span>
            </div>
            <div class="statbox">
                <span class="statlabel">Score</span> <span class="statval">{{article.credibility}}</span>
            </div>
            <div class="statbox">
                <span class="statlabel">Author score</span> <span class="statval">{{article.author.total_cred}}</span>
            </div>
            <div class="statbox">
                <span class="statlabel">Author average</span> <span class="statval">{{article.author.average_cred}}</span>
            </div>
        </div>
        <div class="statbox-container">
            <div class="statbox">
                <span class="statlabel">Publication score</span> <span class="statval">{{article.publication.total_cred}}</span>
            </div>
            <div class="statbox">
                <span class="statlabel">Publication average</span> <span class="statval">{{article.publication.average_cred}}</span>
            </div>
            <div class="statbox">
                <span class="statlabel">Shares</span>
                <span class="statval">{{article.scores.health_shares}}, {{article.scores.science_shares}}, {{article.scores.tech_shares}}, {{article.scores.business_shares}}, {{article.scores.media_shares}}</span>
            </div>
        </div>
    </div>

    <p><b>Shared by</b></p>
    <div id="article-sharers">
        {% for category in categories %}
            {% if category.shares %}
                <div class="category_shares">
                    <b>{{category.name}}:</b>
                    {% for share in category.shares %}
                        <a title="{{share.category}}" href="https://twitter.com/{{share.sharer.twitter_screen_name}}/status/{{share.twitter_id}}">{{share.sharer.name}}</a>{% if not forloop.last%}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <p><b>Tweets</b></p>
    <div class="tweets">
        {% for category in categories %}
            {% for share in category.shares %}
                <div id="tweet-container-{{share.twitter_id}}"/>
            {% endfor %}
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block endjs %}
<script>
setTimeout(function(){
{% for category in categories %}
    {% for share in category.shares %}
    twttr.widgets.createTweet(
      '{{share.twitter_id}}',
      document.getElementById('tweet-container-{{share.twitter_id}}'),
    );
    {% endfor %}
{% endfor %}
}, 1000);
</script>
{% endblock %}