<dt>
    <dl>Title</dl>
    <dd><a href="{{article.url}}">{{article.title}}</a></dd>
    <dl>URL</dl>
    <dd>{{article.url}}</dd>
    <dl>Score</dl>
    <dd>{{article.total_credibility}}</dd>
    <dl>Publication</dl>
    <dd>{{article.publication}}</dd>
    <dl>Publication Average Score</dl>
    <dd>{{article.publication.average_credibility}}</dd>
    <dl>Author</dl>
    <dd>{{article.author}}</dd>
    <dl>Fetched</dl>
    <dd>{{article.created_at}}</dd>
    <dl>Published</dl>
    <dd>{{article.published_at}}</dd>
</dt>

<h3>Shares</h3>
{% for share in shares %}
<dt>
    <dl><a href="https://twitter.com/{{share.sharer.twitter_screen_name}}">{{share.sharer.name}}</a></dl>
    <dd><a href="https://twitter.com/{{share.sharer.twitter_screen_name}}/status/{{share.twitter_id}}">{{share.text}}</dd>
</dt>
{% endfor %}