{% extends "main/base.html" %}
{% block title %}{{base_author.name}} | Scanvine{% endblock %}
{% block main %}
<section>
    {% for author in authors %}
        <div id="authors_names">
            <a href="/main/author/{{author.id}}"><b>{{author.name}}</b></a>{% if not forloop.last%}, {% endif %}
        </div>
    {% endfor %}
            <th></th>

    <p><b>Stats</b></p>
    <div id="stats">
        <div class="statbox">
            <span class="statlabel"><a href="/admin/main/author/{{base_author.id}}">Tracked</a> articles</span> <span class="statval">{{article_count}}</span>
        </div>
        {% if not collaboration %}
            <div class="statbox">
                <span class="statlabel">Credibility</span> <span class="statval">{{base_author.total_cred}}</span>
            </div>
            <div class="statbox">
                <span class="statlabel">Average</span> <span class="statval">{{base_author.average_cred}}</span>
            </div>
        {% endif %}
    </div>
    
    <p><b>Articles</b></p>

    <div class="article-list">
        {% for article in articles %}
            {% include "main/article-entry.html" with article=article scored=article %}
        {% endfor %}
    </div>

</section>
{% endblock %}
