{% extends "main/base.html" %}
{% block title %}{{base_author.name}} | Scanvine{% endblock %}
{% block main %}
<section>
{% for author in authors %}
<div id="authors_names">
    <a href="/main/author/{{author.id}}"><b>{{author.name}}</b></a>{% if not forloop.last%}, {% endif %}
</div>
{% endfor %}
<hr/>
Tracked articles {{ article_count }} {% if not collaboration %} Credibility {{base_author.credibility}} Average {{base_author.average_cred}} {% endif %}
<table>
    <tr>
        <th>Score</th>
        <th>Article</th>
        <th>Publication</th>
        <th>Date</th>
    </tr>
    {% for article in articles %}
        <tr>
            <td>{{article.credibility}}</td>
            <td><a href="{{article.url}}">{{article.title}}</a></td>
            <td><a href="/main/publication/{{article.publication_id}}">{{article.publication}}</a></td>
            <td><a href="/main/article/{{article.id}}">{{article.created_at}}</a></td>
        <tr>
    {% endfor %}
</table>
</section>
{% endblock %}
