{% extends "main/base.html" %}
{% block title %}Authors | Scanvine{% endblock %}
{% block main %}
<section>
<H1><a href="/">Scanvine</a></H1>
<H2>Ranked Authors</H2>
<table>
    <tr>
        <th>Score</th>
        <th>Name</th>
        <th>Articles</th>
        <th>Top</th>
        <th>Average</th>
    </tr>
    {% for author in authors %}
        <tr>
            <td>{%if category%}{{author.category_score}}{%else%}{{author.total_cred}}{%endif%}</td>
            <td><a href="/main/author/{{author.id}}">{{author.name}}</a></td>
            <td>{{author.article_count}}</td>
            <td><a href="{{author.top.url}}">{{author.top}}</a> ||
            <a href="/main/publication/{{author.top.publication_id}}">{{author.top.publication}}</a></td>
            <td>{%if category%}{{author.average_score}}{%else%}{{author.average_cred}}{%endif%}</td>
        <tr>
    {% endfor %}
</table>
</section>
{% endblock %}