<H1><a href="/">Scanvine</a></H1>
{% for author in authors %}
<a href="/main/author/{{author.id}}">{{author.name}}</a>{% if not forloop.last%}, {% endif %}
{% endfor %}
<hr/>
Tracked articles {{ article_count }} {% if not collaboration %} Credibility {{base_author.total_credibility}} {% endif %}
<table>
    <tr>
        <th>Score</th>
        <th>Article</th>
        <th>Publication</th>
        <th>Date</th>
    </tr>
    {% for article in articles %}
        <tr>
            <td>{{article.total_credibility}}</td>
            <td><a href="{{article.url}}">{{article.title}}</a></td>
            <td><a href="/main/publication/{{article.publication_id}}">{{article.publication}}</a></td>
            <td><a href="/main/article/{{article.id}}">{{article.created_at}}</a></td>
        <tr>
    {% endfor %}
</table>
