{% extends "main/base.html" %}
{% block title %}{{scoring}} {{category}} Stories | Scanvine{% endblock %}
{% block main %}
<section>
    <div class="section-header">
        <div class="empty">
            {% if only_free %}
                <a href="{{path}}">all 🔒</a><
            {% else %}
                <a href="{{path}}?pw=no">free 🔓</a>
            {% endif %}
        </div>
        <div class="section-title">{{scoring}} {{category}} Stories</div>
        {% if only_free %}
            <div class="free-link"><a href="{{path}}">all 🔒</a></div>
        {% else %}
            <div class="free-link"><a href="{{path}}?pw=no">free 🔓</a></div>
        {% endif %}
    </div>
    <div class="article-list">
        {% for article in articles %}
            {% include "main/article-entry.html" with article=article %}
        {% endfor %}
    </div>
</section>
{% endblock %}