{% extends "main/base.html" %}
{% block title %}{{publication}} | Scanvine{% endblock %}
{% block main %}
<section>
<H2>{{publication}}</H2>
<p>Tracked articles {{ article_count }} | Authors <a href="/main/authors/publication/{{publication.id}}/">{{author_count}}</a> |
Average credibility {{publication.average_cred}} | Total credibility {{publication.total_cred}}</p>
<table>
    <tr>
        <th>Score</th>
        <th>Article</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    {% for article in articles %}
        <tr>
            <td>{{article.credibility}}</td>
            <td><a href="{{article.url}}">{{article.title}}</a></td>
            <td><a href="/main/author/{{article.author_id}}">{{article.author}}</a></td>
            <td><a href="/main/article/{{article.id}}">{{article.created_at}}</a></td>
        <tr>
    {% endfor %}
</table>
{% endblock %}