{% extends "main/base.html" %}
{% block title %}{{publication}} | Scanvine{% endblock %}
{% block main %}
<section>
    <p><b>{{publication}}</b></p>
    <div class="stats">
        <div class="statbox">
            <span class="statlabel"><a href="/admin/main/publication/{{publication.id}}">Tracked</a> articles</span> <span class="statval">{{article_count}}</span>
        </div>
        <div class="statbox">
            <span class="statlabel">Authors</span> <span class="statval">{{author_count}}</span>
        </div>
        <div class="statbox">
            <span class="statlabel">Credibility</span> <span class="statval">{{publication.total_cred}}</span>
        </div>
        <div class="statbox">
            <span class="statlabel">Average</span> <span class="statval">{{publication.average_cred}}</span>
        </div>
    </div>
    
    <p><b>Articles</b></p>

    <div class="article-list">
        {% for article in articles %}
            {% include "main/article-entry.html" with article=article scored=article %}
        {% endfor %}
    </div>


</section>
{% endblock %}