<H1><a href="/">Scanvine</a></H1>
<H2>{{publication}}</H2>
Total articles {{ article_count }} 
Total credibility {{publication.total_cred}}
Average credibility {{publication.average_cred}}
<table>
    <tr>
        <th>Score</th>
        <th>Article</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    {% for article in articles %}
        <tr>
            <td>{{article.credibility}}</td>
            <td><a href="{{article.url}}">{{article.title}}</a></td>
            <td><a href="/main/author/{{article.author_id}}">{{article.author}}</a></td>
            <td><a href="/main/article/{{article.id}}">{{article.created_at}}</a></td>
        <tr>
    {% endfor %}
</table>
