{% extends "main/base.html" %}
{% block title %}Publications | Scanvine{% endblock %}
{% block startjs %}
<style>
.publication-info {
    display:flex;
    flex-direction:column;
    padding:0.25rem;
    margin:0.25rem;
    border-top:1px solid lavender;
}
.publication-info:nth-child(10n+1) {
    border-top:2px solid lavender;
}
.publication-top {
    display:flex;
    align-items:center;
}
.publication-name a {
    font-size:larger;
}
@media (max-width:75rem) {
    .publication-name a {
        font-size:large;
    }
    .publication-articles, credibility {
        font-size:medium;
    }
}
</style>
{% endblock %}{% block main %}
<section>
<H3>Ranked Publications</H3>
    <div class="publication-list">
    {% for publication in publications %}
        <div class="publication-info">
            <div class="publication-top">
                <span class="publication-name"><a href="/main/publication/{{publication.id}}">{{ forloop.counter }}. {{publication}}</a></span>
                <div class="publication-stats rightmost">
                    <span class="publication-articles">
                        <i>articles</i> {{publication.article_count}}
                    </span>
                    <span class="credibility">
                        <i>avg</i> {%if category%}{{publication.average_score}}{%else%}{{publication.average_cred}}{%endif%}
                        <i>total</i> {%if category%}{{publication.category_score}}{%else%}{{publication.total_cred}}{%endif%}
                    </span>
                </div>
            </div>
            <span class="top-article">
                <i>top</i>
                “<a href="/main/article/{{publication.top.id}}">{{publication.top.title}}</a>”
                <a class="by-link" href="/main/authors/publication/{{publication.id}}">by</a>
                <a href="/main/publication/{{publication.top.publication_id}}">{{publication.top.author}}</a>
            </span>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}