{% extends "main/base.html" %}
{% block title %}Publications | Scanvine{% endblock %}
{% block main %}
<section>
<H3>Ranked Publications</H3>
<table>
    <tr>
        <th>Score</th>
        <th>Name</th>
        <th>Articles</th>
        <th>Top</th>
        <th>Average</th>
    </tr>
    {% for publication in publications %}
        <tr>
            <td>{%if category%}{{publication.category_score}}{%else%}{{publication.total_cred}}{%endif%}</td>
            <td><a href="/main/publication/{{publication.id}}">{{publication}}</a></td>
            <td>{{publication.article_count}}</td>
            <td>{% if publication.top %}
                “<a href="/main/article/{{publication.top.id}}">{{publication.top.title}}</a>” <a href="/main/authors/publication/{{publication.id}}">by</a>
                <a href="/main/author/{{publication.top.author_id}}">{{publication.top.author}}</a>
                {% endif %}
            </td>
            <td>{%if category%}{{publication.average_score}}{%else%}{{publication.average_cred}}{%endif%}</td>
        <tr>
    {% endfor %}
</table>
</section>
{% endblock %}