<H1><a href="/">Scanvine</a></H1>
<H2>Publications</H2>
<table>
    <tr>
        <th>Score</th>
        <th>Average</th>
        <th>Name</th>
        <th>Articles</th>
        <th>Latest</th>
    </tr>
    {% for publication in publications %}
        <tr>
            <td>{{publication.total_cred}}</td>
            <td>{{publication.average_cred}}</td>
            <td><a href="/main/publication/{{publication.id}}">{{publication}}</a></td>
            <td>{{publication.total_articles}}</td>
            <td><a href="{{publication.latest.url}}">{{publication.latest.title}}</a> || {{publication.latest.author}}</td>
        <tr>
    {% endfor %}
</table>
