{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> Jobs </h1>
{% endblock %}
{% block object-tools %}
    <table>
        <tr><td>
    <div>
        <ul>
        <li><a href="refresh_sharers">Refresh sharers from Twitter to DB</a>
        <li><a href="ingest_sharers">Ingest sharers from DB to Twitter</a>
        <li><a href="fetch_shares">Fetch shares</a>
        <li><a href="associate_articles">Associate articles</a>
        <li><a href="parse_unparsed">Parse unparsed</a>
        <li><a href="analyze_sentiment">Analyze sentiment</a>
        <li><a href="allocate_credibility">Allocate credibility</a>
        <li><a href="set_reputations">Set reputations</a>
        <li><a href="clean_up_jobs">Clean up jobs</a>
        </ul>
    </div>
        </td><td>
    <div>
        {% for job in latest_jobs %}
            <LI>{{job.name}} {{job.created_at}}
        {% endfor %}
    </div>
        </td><td>
    <div>
        {% for key, val in counts.items %}
            <LI>{{key}} {{val}}
        {% endfor %}
    </div>
        </td><td>
    <div>
        {% for key, val in latest.items %}
            <LI>{{key}} <a href="/admin/main/{{key}}/{{val.id}}">{{val}}</a>
        {% endfor %}
    </div>
        </td></tr></table>
{% endblock %}
